In [132]:
import pandas as pd

In [133]:
review = pd.read_csv("data/preprocessing.csv")
len(review)

6653

In [134]:
title = set(list(review['lecture_name']))
title = sorted(list(title))

In [183]:
#lecture review만들기
lecture_review = {}
for index, row in review.iterrows():
    lecture_name = row['lecture_name']
    corpus = row['corpus']
    if type(corpus) == str :
        if lecture_name in lecture_review.keys():
                lecture_review[lecture_name] += corpus
        else:
            lecture_review[lecture_name] = corpus
    else: #국어의미론 NAN값 존재
        if lecture_name in lecture_review.keys():
                lecture_review[lecture_name] += ''
        else:
            lecture_review[lecture_name] = ''
lecture_review = sorted(lecture_review.items())
data = [text[1] for text in lecture_review]

In [169]:
len(data)

450

In [223]:
#유사도를 구하기 위한 수치벡터화(tfidf)
#stopword
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()  
# overview에 대해서 tf-idf 수행
tfidf_matrix = tfidf.fit_transform(data)
tfidf_matrix.shape

(450, 13219)

In [226]:
#코사인 유사도
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [227]:
cosine_sim

array([[1.        , 0.16290163, 0.26465478, ..., 0.10071955, 0.13154822,
        0.24498924],
       [0.16290163, 1.        , 0.10437533, ..., 0.02888212, 0.07920931,
        0.12069042],
       [0.26465478, 0.10437533, 1.        , ..., 0.14610329, 0.12975637,
        0.26225052],
       ...,
       [0.10071955, 0.02888212, 0.14610329, ..., 1.        , 0.09009742,
        0.16073225],
       [0.13154822, 0.07920931, 0.12975637, ..., 0.09009742, 1.        ,
        0.27534769],
       [0.24498924, 0.12069042, 0.26225052, ..., 0.16073225, 0.27534769,
        1.        ]])

In [228]:
#유클리디안 유사도
import numpy as np
from sklearn.metrics.pairwise import euclidean_distances

#정규화
def l1_normalize(v): #tfidf로 구한 단어 빈도의 수치를 모두 더했을 때 1로 만들어주기
    norm = np.sum(v)
    return v/norm

tfidf_norm_l1 = l1_normalize(tfidf_matrix)
euclidean_distance = euclidean_distances(tfidf_norm_l1, tfidf_norm_l1)

In [229]:
from sklearn.metrics.pairwise import manhattan_distances
manhattan_distances=manhattan_distances(tfidf_norm_l1, tfidf_norm_l1)

In [230]:
lecture_review = pd.DataFrame(lecture_review,columns=['lecture_name','corpus'])

In [231]:
lecture_review

        lecture_name                                             corpus
0              2D디자인  과제 터무니없 이 많 것하다 매우 많 컨펌 열심히 하다 주심 포토샵 정도 만지다 수...
1        3D그래픽어플리케이션  배우다 가다 것 매우 많 교수 항상 학생 열리다 있다 질문 많이 하다 수 있다 학생...
2              3D디자인  코 로나 여 학점 잘 받다 다시 듣다 싶다 않다 수업 교양 학점 잘 받다 하다 넘기...
3      BA 빅데이터비즈니스모델  학생 호불 호 갈리다 수 있다 교수 하지만 학생 직접 탐구하다 생각하다 것 조금 보...
4    BA 웹스크레이핑빅데이터분석  솔직히 개인 제만 잘 하 학점 거 저먹다 수업 다만 교수 말 너무 하 느리 고 수업...
..               ...                                                ...
445          환경공학및실험  작년 수 강하다 그냥 갑자기 교수 생각나다 써 봄 전공 시 사 진짜 알다 것 많 분...
446           환경유체역학  진짜 수업 너무 잘 하 주다 중간 중간 웃음 포인트 너무 많 야구 광 학생 너무나 ...
447             환경화학  내용 어렵 교수 그냥 정석 그대로 거 같 시험 보다 여 하다 보다 오다 하다 하다 ...
448             회계감사  점수 굉장히 후하다 주다 학생 편의 많이 보다 주다교수 착 함 그다지 어렵 않다 잘...
449            회계원리2  과제 양 많 하다 애초 내용 맞다 틀 리 다 하다 수 없 내용 성의 많이 보다 거 ...

[450 rows x 2 columns]

In [234]:
def recommendations_by_cosine(title,method=cosine_sim):
    idx = indices[title] 
    scores = list(enumerate(method[idx])) #모든 강의와 유사도 구하기
    scores = sorted(scores, key=lambda x:x[1],reverse=True) #유사도 정렬
    scores = scores[1:6] #가장 유사한 강의 5개 
    movie_indices = [i[0] for i in scores] #강의의 인덱스받기
    
    result_df = lecture_review.iloc[movie_indices].copy()
    result_df['score'] = [i[1] for i in scores] #score추가
    
    del result_df['corpus']
    
    return result_df

def recommendations_by_euclidean(title,method=euclidean_distance):    
    idx = indices[title]
    scores = list(enumerate(method[idx]))
    scores=sorted(scores, key=lambda x:x[1],reverse=True)
    scores = scores[1:6]
    movie_indices = [i[0] for i in scores]
    result_df = lecture_review.iloc[movie_indices].copy()
    result_df['score'] = [i[1] for i in scores] #score추가
    
    del result_df['corpus']
    
    return result_df
def recommendations_by_manhattan(title,method=manhattan_distances):
    idx = indices[title]
    scores = list(enumerate(method[idx]))
    scores=sorted(scores, key=lambda x:x[1],reverse=True)
    scores = scores[1:6]
    movie_indices = [i[0] for i in scores]
    result_df = lecture_review.iloc[movie_indices].copy()
    result_df['score'] = [i[1] for i in scores] #score추가
    
    del result_df['corpus']
    
    return result_df

def recommendations_by_zaccard(title):
    idx = indices[title]
    split_doc=[]
    for doc in data:
        split_doc.append(doc.split())
        
    rec_lec = []
    for i in range(len(split_doc)):
        a = len(set(split_doc[idx]) & set(split_doc[i]))
        b = len(set(split_doc[idx]) | set(split_doc[i]))
        rec_lec.append(a/b)
    
    scores = list(enumerate(rec_lec))
    scores=sorted(scores, key=lambda x:x[1],reverse=True)
    scores = scores[1:6]
    movie_indices = [i[0] for i in scores]
    result_df = lecture_review.iloc[movie_indices].copy()
    result_df['score'] = [i[1] for i in scores] #score추가
    
    del result_df['corpus']
    
    return result_df

In [237]:
print('-------------cosine--------------')
print(recommendations_by_cosine('수요집현강좌'))
print('-------------euclidean--------------') #차원이 높아서 성능 떨어짐
print(recommendations_by_euclidean('수요집현강좌'))
print('-------------manhattan--------------')
print(recommendations_by_manhattan('수요집현강좌'))
print('------------zaccard--------------') 
print(recommendations_by_zaccard('수요집현강좌'))

-------------cosine--------------
    lecture_name     score
377    창업과기업가정신1  0.819835
375    진로설정과자기계발  0.443978
376       진로오딧세이  0.422940
383          채플1  0.395743
208      서양고전강독3  0.387857
-------------euclidean--------------
              lecture_name     score
151                  모델드로잉  0.000367
259                 역사철학강의  0.000366
345                   전자회로  0.000366
88                    교직실무  0.000366
5    Capstone디자인(산학협력프로젝트)  0.000365
-------------manhattan--------------
      lecture_name     score
404           통신이론  0.006966
157  문제해결을위한글쓰기와발표  0.006913
442        확률및랜덤변수  0.006767
34     MATLAB프로그래밍  0.006758
317         일반생물학1  0.006739
------------zaccard--------------
          lecture_name     score
377          창업과기업가정신1  0.254989
56               경제학원론  0.204493
52               경영학원론  0.199846
123             데이터베이스  0.196041
16   English Writing 2  0.195526