In [1]:
import os
import sys
import re

import numpy as np
import pandas as pd

import json

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='white', context='notebook', palette='deep')

In [2]:
review = pd.read_csv("data/review_datal_all.csv")
review = pd.DataFrame(review)
review.head()

,url_id,index,lecture_name,professor_name,rate,semester,like,text
0,535020,0,법학입문,이재교,100,20,0,판례평석 잘하면 성적잘 주시는것 같음. 중간 개망치고 기말도 틀린 문제 몇 개 있었...
1,535020,1,법학입문,이재교,80,20,0,과제들 되게 귀찮고 많다 시험은 말빨 좋으면 된다 난 시험은 망쳤지만 과제는 열심히...
2,535020,2,법학입문,이재교,80,20,0,수업은 ppt 띄워놓으시고 하시는데 보통 교안에 없는 다른 관련 사례를 중심으로 많...
3,535020,3,법학입문,이재교,100,20,0,"교재에 없는 내용 많이 얘기해주시고, 말씀하신 내용에서 시험문제 내셔서 교재 그렇게..."
4,535020,4,법학입문,이재교,100,20,0,사이버강의라 괜찮았지만 과제는 꽤 많았어요 시험은 수업 잘 들으면 잘 나옴

In [11]:
review20 = review[review["semester"]>=20]

In [12]:
#교수님과 강의별로 강의리뷰 개수 :10개
review_by_professor = review20.groupby(review['professor_name']).size().sort_values(ascending=False)[:10]
review_by_professor #헐 정연철교수님 개웃긴뎈ㅋㅋㅋㅋㅋ

professor_name
신하얀, 이태하              128
이유진                    76
이태하                    65
황용식                    64
하지영                    51
정연철                    44
이요섭                    42
정성원                    42
Julian Kibum Chung     38
전보영                    37
dtype: int64

In [13]:
prof = review['professor_name']
lec = review['lecture_name']
review_by_professor_and_lecture = review20.groupby([prof,lec]).size().sort_values(ascending=False)[:30]
maybe_major_lec = review20.groupby([prof,lec]).size().sort_values(ascending=False)[100:120]
maybe_major_lec

#필수교양과목에 대한 데이터가 많음
#전공관련 과목은 확실히 적음 :많아야 20개내외?
#교수님 리뷰개수가 좋아서 많은건지 별로여서 많은건지?

professor_name      lecture_name
Joanne Kim-Yamada   English Reading Practice 1      8
Mark Daniel Mechem  English Listening Practice 1    8
고영대                 HTM 호스피탈리티스마트서비스                8
Kyle F McCullagh    영어발음연습                          8
Young In Chang      English Writing 1               8
John P. Bernabei    English Writing 2               8
Todd Tate           English Reading Practice 1      8
Alberto Giacchini   비즈니스커뮤니케이션1                     8
정영희                 영어학의세계                          8
오승구                 경제학원론                           7
김영래                 교육철학의이해                         7
이학성                 자동제어                            7
박황서                 유기화학                            7
이성훈                 경영학원론                           7
박상식                 공업수학2                           7
심은화                 기초미적분학                          7
최성신                 분석화학실험                          7
계정권                 타이포그래피                          7
이희원                 일변수미적분학                         7
오장헌                 다변수미적분학                         7
dtype: int64

In [14]:
#교수님별로 rate평균
#강의 개수에따라서 rate파악필요할듯
rate_mean = review20["rate"].groupby(prof).mean().sort_values(ascending=False)[-20:]
rate_mean #ㅋㅋㅋㅋㅋㅋㅋ거르자...

professor_name
김대종                           35.000000
Mohammed H. Alsharif          34.545455
계정권                           34.285714
김용국                           34.000000
노화용                           33.333333
홍성욱                           32.000000
주경희                           31.428571
최성신                           31.111111
이원준                           30.000000
전유진                           30.000000
이종혁                           26.666667
한희섭                           20.000000
Mamta AGIWAL                  20.000000
김진성                           20.000000
김종원                           20.000000
채규현                           20.000000
김이수                           20.000000
이현주                           20.000000
권순일                           20.000000
Abolghasem Sadeghi-Niaraki    20.000000
Name: rate, dtype: float64

In [25]:
#elp
testdata= review20[review20["lecture_name"]=="English Reading Practice 1"]
testdata.head()

,url_id,index,lecture_name,professor_name,rate,semester,like,text
5980,1788465,0,English Reading Practice 1,John P. Bernabei,100,20,0,퀴즈가 조금 있음. 수준은 쉬운 편이고 과제 꼬박꼬박 잘하고 시험 무난히 보고 모의...
5981,1788465,1,English Reading Practice 1,John P. Bernabei,100,20,0,과제 몇 번 있긴 한데 미리미리 공지해주시고 어려운 내용도 아니라서 부담은 없음. ...
5982,1788465,2,English Reading Practice 1,John P. Bernabei,100,20,0,교수님이 친절하시고 강아지도 귀여웠어요 수업 난이도도 높지 않습니다
5983,1788465,3,English Reading Practice 1,John P. Bernabei,100,20,0,코로나때 들었습니다. 교수님 너무귀여우시고 교수님 강아지도 가끔 등장하는데 수업이 ...
5984,1788465,4,English Reading Practice 1,John P. Bernabei,80,20,0,온라인 강의+영어라서 수업이 잘 전달되기 어려웠던 것 같다. 현강이었다면 더 얻어갈...

In [5]:
#교수님별로 하나의 문서?
#교수님
text = testdata["lecture_name"]